---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Game of life - @BUE221"
  description="This is a representation to a coway mathemathic Game."
>
  <main>
    <h1>Game of life</h1>
  </main>
</Layout>
