---
import GameContainer from "../components/react/Containers/GameContainer";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Game of life - @BUE221"
  description="This is a representation to a coway mathemathic Game."
>
  <main>
    <GameContainer client:only />
  </main>
</Layout>
